.resumeMain {
  color: #105652;
}
.heading {
  margin-left: 570px;

  /* text-align: center; */
  padding: 0px;
  font-size: 30px;
  font-weight: 700;
  width: fit-content;
  /* border: 7px solid #fca738; */
  border-bottom: 5px solid #fca738;
}

.tranings {
  /* display: flex; */
  width: 90%;
  margin-left: 5%;
  display: flex;
}
.pic {
  width: 50%;
}
.pic img {
  width: 80%;
}
.detail {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.experience {
  text-align: left;
  font-size: 24px;
  font-weight: 500;
  margin-left: 30px;
  /* display: inline; */
}
hr {
  color: grey;
  margin: -11px 10px 13px 10px;
  width: 53%;
}

.training {
  display: flex;
  font-weight: 500;
  font-size: 20px;
}
.training:hover {
  color: #105652;
  cursor: default;
}

.year {
  color: white;
  height: 20px;
  font-size: 20px;
  font-weight: 500;
  border: 2px solid orange;
  background: orange;
  padding: 6px 19px 16px 18px;
  /* margin-bottom: 31px; */
  border-radius: 17px;
  /* margin-left: 650px;  */
}
.company_collage {
  /* color: #09bcab; */

  margin-top: 54px;
  font-size: 15px;
  margin-left: -1000px;
  font-weight: 600;
}
.collage {
  margin-top: -21px;
  font-size: 15px;
  margin-left: -808px;
  font-weight: 600;
}

.vertical {
  width: 1px;
  height: 30px;
  background-color: #fca738;
  margin-left: -26px;
  margin-right: 38px;
  border-left: 2px solid blue;
}
.color {
  margin-top: -18px;
  margin-right: 0px;
  color: aqua;
  font-size: 43px;
}
.second {
  margin-top: -75px;
}
.resume {
  background-color: white;
  border: 5px solid white;
  border-radius: 40px;
  width: 90%;
  margin-left: 5%;
}
